.column {
  float: left;
  width: 40%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}